$fullwidth: 100%;
$orange: #ff6600;
$gray: #555555;
$font11: 11px;

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
  position: relative;
}

blockquote, q{
  quotes: none;

  blockquote:before, blockquote:after,
  q:before, q:after{
  content: '';
  content: none;
  }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

a{
  text-decoration: none;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-upper{
  text-transform: uppercase;
}

.text-strong{
  font-weight: bold;
}

.orange{
  color: $orange;
}

/* Custom CSS */
.container{
  width: 780px;
  float: left;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  margin-bottom: 100px;

  .header{

    .line-one{
      width: $fullwidth;
      height: 14px;
      background-color: #D5D5D5;
      border-bottom: 1px solid #ffffff;
      display: block;
      z-index: 9999;

      .infos-account{
        background: #ff9717; /* Old browsers */
        background: -moz-linear-gradient(top,  #ff9717 0%, #f65700 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ff9717 0%,#f65700 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ff9717 0%,#f65700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9717', endColorstr='#f65700',GradientType=0 ); /* IE6-9 */
        width: 685px;
        height: 40px;
        padding: 0 20px 2px;
        margin: 0 8px;
        float:left;
        border-radius: 0 0 8px 8px;
        -webkit-box-shadow: 3px 4px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    3px 4px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         3px 4px 1px 0px rgba(0, 0, 0, 0.2);

        .logo{
          width: 50px;
          height: 50px;
          float: left;

          .img-logo{
            width: $fullwidth;
            display: block;   
            margin-top: 5px;
          }
        }

        .hour-img{
          margin: 0 100px 0 85px;
          float: left;
        }

        .text-infos{
          width: 390px;
          float: left;
          margin-top: 10px;
          color: #ffffff;
          font-size: $font11;
          font-weight: bold;

          .name{
            text-transform: uppercase;
            margin-bottom: 2px;
          }

          .col-1, .col-2, .col-3{
            width: auto;
            margin-right: 15px;
            float: left;
          }

          .numbers-account span{
            font-size: 12px;
            color: #FFFF00;
          }

          .other-account{ 

            a{
            color: #ffffff;  

              &:before{
                content: '';
                width: 9px;
                height: 8px;
                background: url('../img/icons/arrow-header.png');
                display: inline-block;
                margin: 0 5px 0 30px;
              }          
            }
          }
        }
      }

      .logout-account{
        width: 20px;
        float: left;
        text-align: center;
        font-weight: 700;
        line-height: 10px;
        margin: 10px 0 0 5px;

        .link-logout{
          text-decoration: none;

          .icon{
            width: 14px;
            height: 12px;
            color: #ffffff;
            font-size: 10px;
            border: 1px solid #21389B;
            display: block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            margin: 0 auto;
            padding-top: 2px;
            background: #93a1e0; /* Old browsers */
            background: -moz-linear-gradient(top,  #93a1e0 0%, #5269cc 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #93a1e0 0%,#5269cc 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #93a1e0 0%,#5269cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93a1e0', endColorstr='#5269cc',GradientType=0 ); /* IE6-9 */

          }

          .text{
            font-size: 10px;
            color: #4B63CA;
          }
        }
      }
    }

    .primary-menu{
      padding-top: 30px;
    }

    .content-menu{
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
      display: block;
      width: $fullwidth;
      z-index: 9;
      border-top: 1px solid #B2B2B2;

      .menu-main{
        position: relative;
        width: 600px;
        padding: 3px 0 5px 95px;

        .special a{
          color: #003399;

          &:after{
            content: '';
            display: inline-block;
            width: 19px;
            height: 16px;
            background: url('../img/icons/ico_novidade2.gif');
            vertical-align: middle;
            margin-left: 4px;
          }
        }
      
        li{
          line-height: $font11;
          display: inline-block;
          margin: 0 -2px;
          border-right: 1px solid $gray;
          padding: 0 4px;

          &:last-child{
            border-right: none;
          }

          a{
            color: $gray;
            font-size: $font11;
            font-weight: bold;

            &:hover{
              color: #4b63ca;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .search{
      width: 540px;
      margin: 5px auto 15px;
      border: 2px solid $orange;
      border-radius: 10px;

      input{
        width: 485px;
        height: 22px;
        display: inline-block;
        padding: 0 10px;
        border: none;
        border-radius: 10px;

        &::-webkit-input-placeholder {
           color: #9e9e9e;
           font-size: $font11;
        }

        &:-moz-placeholder {
           color: #9e9e9e;
           font-size: $font11;
        }

        &::-moz-placeholder {
           color: #9e9e9e;
           font-size: $font11;
        }

        &:-ms-input-placeholder {  
           color: #9e9e9e;
           font-size: $font11;
        }
      }

      .submit{
        width: 30px;
        height: 20px;
        display: inline-block;
        border: none;
        background-color: transparent;
        background: url('../img/icons/lupa.png') center no-repeat;
        text-indent: -99999px;
        cursor: pointer;
      }
    }
    .nav-bread{
      position: relative;
      margin: 0 0 5px 15px;

      li{
        display: inline-block;
        font-size: $font11;
        font-weight: bold;
        color: $orange;

        &:after{
          content: '>';
          color: $gray;
          margin-left: 5px;
        }

        a{
          color: $gray;

          &:hover{
            color: #4b63ca;
            text-decoration: underline;
          }
        }
        &:last-child:after{
          content: '';
        }
      }
    }
  }
  /* Content Main */
  .content-main{
    margin: 0 5px;
    float: left;

    h5{
      color: $orange;
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0 0;
    }
    .col-content, .col-side{
      float: left;
    }
    .col-content{
      width: 510px;

      .table{
        width: $fullwidth;
        float: left;
        font-size: $font11;
        color: #333333;
        margin-top: 10px;
        border-bottom: 1px solid #c6c6c6;  

        .title-main{
          font-weight: bold;
          background-color: #ffffff !important;
          
          &:hover{
          	background-color: #ffffff !important;
          }
          .orange{
            color: $orange;
          }
          .gray{
            color: $gray !important;
          }
          span{
            display: block;
            font-weight: 900;
          }
        }

        .header{
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
          height: 15px;
          font-weight: bold;
        }

        td{
          padding: 5px 0 4px;
        }
        .negative{
          color: #ff0000;
        }
      }

      .table-striped{
        tr{

          &:hover{
            background-color: #C6C7C6 !important;
          }
          &:nth-of-type(2n+1) {
            background-color: #EFEFEF;
          }
        }
        
      }

      .other-table{
        margin-top: 30px;

        a{
          &:hover{
            text-decoration: underline;
          }
        }
        .back-gray{
          background-color: #f5f5f5;
        }
      }

      .filter{
        background-color: #f5f5f5;
        float: left;
        width: $fullwidth;
        border-bottom: 1px solid #c6c6c6;  

        p{
          color: #333333;
          font-size: 11px;
          padding: 20px 2px 15px;
          height: 20px;
          margin-right: 15px;
        }

        select{
          margin: 15px 0;
          width: 210px;
          height: 20px;
        }
      }

      .function-extract{
        background-color: #f5f5f5;
        float: left;
        width: $fullwidth;
        border-bottom: 1px solid #c6c6c6;  
        margin: 30px 0 10px;
        padding: 10px 5px; 

        .title{
          font-weight: 900;
          color: $gray;
          font-size: $font11;
        }
        ul{
          position: relative;
          text-align: center;
          margin: 5px 0 0;

          li{
            display: inline-block;
            margin: 0 25px;

            &:before{
              content: '';
              width: 45px;
              height: 20px;
              display: inline-block;
            }

            a{
              color: $gray;
              font-size: $font11;
            }
          }
          .print:before{
            background: url('../img/icons/impressora.png') no-repeat center;
          }
          .pdf:before{
            background: url('../img/icons/pdf.gif') no-repeat center;
          }
          .excel:before{
            background: url('../img/icons/disquete.gif') no-repeat center;
          }
        }
      }

      .notify{
        font-size: $font11;
        color: #333333;
        text-align: justify;
        line-height: 14px;
        padding: 10px 20px;
        margin-bottom: 35px;
        float:left;
        
        h1{
          color: #73B644;
          font-weight: 900;
          margin-top: 5px;
          letter-spacing: 0;
        }
        a{
          font-weight: bold;

        }
      }

    }
    .col-side{
      width: 245px;
      margin-left: 15px;

      .box-links.box-help{
        h1{
          background: #ffffff;
          font-size: 13px;
          font-weight: 600;
          color: #203351;
          padding: 8px 10px 8px;
        }
        .linkbox{
          float: right;
          margin-top: -3px;
          
          &:before{
            color: #333333;
            font-size: 20px;
            float: right;
          }
          &.close:before{
            content: '-';
          }
          &.active:before{
            content: '+';
          }
        }
        .list-help{
          background-color: #eeeeee;
          padding: 0;
          li{
            padding: 5px 10px;

            &:hover{
              background-color: #ffffff;
            }
            &:before{
              width: auto;
            }
          }
          a{
            color: #606163;
            font-size: $font11;
            font-weight: 600;
          }
        }
      }
      .box-links{
        width: $fullwidth;
        border: 1px solid #cccccc;
        float: left;
        margin: 7px 0;

        h1{
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top,  #ffffff 30%, #e7e7e7 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #ffffff 30%,#e7e7e7 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #ffffff 30%,#e7e7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
          font-size: $font11;
          font-weight: bold;
          padding: 8px 5px;
          border-bottom: 1px solid #cccccc;
        }

        ul{
          padding: 5px 0;

          li{
            display: block;

            &:before{
              content: '';
              width: 25px;
              height: 20px;
              display: inline-block;
            }

            a{
              color: $gray;
              font-size: $font11;
              vertical-align: super;

              &:hover{
                color: #4b63ca;
                text-decoration: underline;
              }
            }
          }
          .calculator:before{
            background: url('../img/icons/calculadora.gif') center no-repeat;
          }
          .info:before{
            background: url('../img/icons/info.png') center no-repeat;
          }
          .print:before{
            background: url('../img/icons/impressora.png') center no-repeat;
          }
          .pdf:before{
            background: url('../img/icons/pdf.gif') center no-repeat;
          }
          .save:before{
            background: url('../img/icons/disquete.gif') center no-repeat;
          }
        }
        .list-infos{
          li{
            a{
              vertical-align: baseline !important;
            }
            &:before{
              content: '';
              width: 25px;
              height: 16px;
              display: inline-block;
              background: url('../img/arrow-box.gif') center no-repeat;
            }
          }
        }
        .help{
          margin: 0 7px;
          border-top: 1px solid #eeeeee;
          padding: 5px 0;

          &:before{
            content: '';
            width: 16px;
            height: 16px;
            background: url('../img/icons/duvida.png') no-repeat;
            display: inline-block;
            margin-right: 10px;
          }

          a{
            color: #4b63ca;
            font-size: 11px;
            font-weight: bold;  
            vertical-align: super;
            display: inline-block;
            
            &:hover{
              text-decoration: underline;
            }         
          }
        }
      }
    }
  }
  .footer{
    background: #678ef5; /* Old browsers */
    background: -moz-linear-gradient(top,  #678ef5 0%, #435b99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #678ef5 0%,#435b99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #678ef5 0%,#435b99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#678ef5', endColorstr='#435b99',GradientType=0 ); /* IE6-9 */
    width: 770px;
    margin: 0 5px;
    float: left;
    border-top: 1px solid #3F5898;

    .nav{
      text-align: center;

      li{
        display: inline-block;
        color: #ffffff;
        font-size: $font11;
        font-weight: bold;
        padding: 2px 0 4px;

        &:after{
          content: '|';
        }

        &:last-child{
          padding-left: 10px;
          &:after{
            content: '';
          }
        }

        a{
          color: #ffffff;
          margin: 0 15px;

          &:hover{
            text-decoration: underline;
          }
        }
      }
      .social-ft{
        float: right;
        margin-left: 5px;

        li{
          padding: 0;

          a{
            margin: 0 1px;
          }
          &:after{
            content: '';
          }
        }
      }
    }
  }
}
